%p
  %img{src: soalition.icon, style: 'height:92px;'}

%h2
  &= soalition.name

%p
  &= soalition.description

%pre= audit.table

%p
  The 1st column is author's Twitter handle.
  The 2nd one is the amount of reputation the author has earned (the bigger, the better).
  The 3rd one is the size of the author's inbox (the larger the worse).
  The 4th one is the number of posts the author has made over the last three months.
