%p
  You have to login first, via Twitter.

%p
  You may create your own "soalition" (social coalition) or join
  an existing one. Inside the soalition you join you will
  share your blog posts and your friends will re-post and comment them.
  You will do the same, in exchange.

%p
  More details
  = succeed '.' do
    %a{href: 'https://github.com/yegor256/soalition/blob/master/README.md'} here
