- redcarpet = Redcarpet::Markdown.new(Redcarpet::Render::HTML)
- list = inbox.fetch
- if list.empty?
  %p
    Your inbox is empty, great job! :)
- else
  %p
    Here is your list of most important actions:
  - list.each do |md|
    %p
      = redcarpet.render(md)
