%p
  Talk to our
  = succeed ',' do
    %a{href: 'https://t.me/soalition_bot'} Telegram bot
  it's very helpful.

- redcarpet = Redcarpet::Markdown.new(Redcarpet::Render::HTML)
- list = inbox.fetch
- if list.empty?
  %p
    Your inbox is empty,
    = succeed '!' do
      %strong.green great job
    = ':)'
- else
  %p
    Here is your list of most important actions:
  - list.each do |md|
    %p
      = redcarpet.render(md)
